In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/processed/train_folds.csv")

In [3]:
asset_details = pd.read_csv("../data/raw/asset_details.csv")
asset_details

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [4]:
weights = asset_details.set_index("Asset_ID", drop=True)[["Weight"]]
weights

            Weight
Asset_ID
2         2.397895
0         4.304065
1         6.779922
5         1.386294
7         2.079442
6         5.894403
9         2.397895
11        1.609438
13        1.791759
12        2.079442
3         4.406719
8         1.098612
10        1.098612
4         3.555348

In [5]:
df = df.join(weights, on="Asset_ID", how="left")
df

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,test_fold,test_time_window,Weight
0,1516847760,1,455.0,11423.328333,11475.0000,11366.32000,11435.001667,72.759929,11428.022448,0.001578,2018-01-25 02:36:00,0,-1,6.779922
1,1581113880,5,93.0,4.551672,4.5617,4.53816,4.553932,6184.721791,4.552511,0.001463,2020-02-07 22:18:00,0,-1,1.386294
2,1611997260,9,244.0,130.715333,130.9500,130.61000,130.789833,1178.185190,130.772207,0.002561,2021-01-30 09:01:00,0,1,2.397895
3,1518160200,11,6.0,239.395000,239.8000,239.20000,239.395000,29.993860,239.470855,NaN,2018-02-09 07:10:00,0,-1,1.609438
4,1582818360,1,900.0,8849.542857,8866.8000,8840.00000,8847.144286,96.858741,8847.126718,0.000288,2020-02-27 15:46:00,0,-1,6.779922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22221689,1614184980,6,999.0,1659.272857,1663.0900,1658.17000,1661.150000,628.493049,1660.528501,0.000024,2021-02-24 16:43:00,4,1,5.894403
22221690,1555201620,11,8.0,64.610000,64.6500,64.57000,64.615000,68.040880,64.619406,-0.001393,2019-04-14 00:27:00,4,-1,1.609438
22221691,1522441560,2,92.0,683.778000,687.6100,681.07000,686.110000,203.934682,685.127895,-0.001464,2018-03-30 20:26:00,4,-1,2.397895
22221692,1605192000,8,4.0,0.249000,0.2490,0.24890,0.249000,2874.010000,0.248965,0.001205,2020-11-12 14:40:00,4,2,1.098612
22221693,1618941240,11,376.0,399.446000,400.2100,398.38000,399.450000,383.114134,399.329710,-0.015132,2021-04-20 17:54:00,4,0,1.609438

In [6]:
import sys
sys.path.append("..")

from src.helpers.memory import reduce_memory_usage

In [7]:
df = reduce_memory_usage(df, print_stats=True)

Memory usage of dataframe is 2373.53 MB
Memory usage after optimization is: 911.27 MB
Decreased by 61.6%

In [8]:
df = df.sort_values(by=["timestamp", "Asset_ID"]).reset_index(drop=True)
df

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,test_fold,test_time_window,Weight
0,1514764860,0,5.0,8.531250,8.531250,8.531250,8.531250,7.838000e+01,8.530000,-0.014397,2018-01-01 00:01:00,3,-1,4.304688
1,1514764860,1,229.0,13832.000000,14016.000000,13664.000000,13848.000000,3.155006e+01,13827.062093,-0.014641,2018-01-01 00:01:00,2,-1,6.781250
2,1514764860,2,40.0,2376.000000,2400.000000,2358.000000,2374.000000,1.923301e+01,2373.116392,-0.004219,2018-01-01 00:01:00,4,-1,2.398438
3,1514764860,5,32.0,7.660156,7.660156,7.656250,7.656250,6.626713e+03,7.657713,-0.013924,2018-01-01 00:01:00,3,-1,1.386719
4,1514764860,6,173.0,738.500000,746.000000,732.500000,738.500000,3.359879e+02,738.839291,-0.004810,2018-01-01 00:01:00,2,-1,5.894531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22221689,1623542340,9,166.0,161.625000,161.875000,161.500000,161.750000,5.751936e+02,161.652476,0.001740,2021-06-12 23:59:00,2,0,2.398438
22221690,1623542340,10,31.0,2934.000000,2936.000000,2932.000000,2936.000000,2.188914e+00,2933.849059,-0.006084,2021-06-12 23:59:00,1,0,1.098633
22221691,1623542340,11,37.0,242.875000,243.000000,242.625000,242.875000,6.123996e+01,242.856640,-0.000040,2021-06-12 23:59:00,4,0,1.609375
22221692,1623542340,12,88.0,0.327637,0.328125,0.327148,0.327881,1.621725e+05,0.327464,-0.003344,2021-06-12 23:59:00,0,0,2.080078
22221693,1623542340,13,166.0,0.068054,0.068054,0.067993,0.068054,2.112721e+06,0.068029,-0.003338,2021-06-12 23:59:00,0,0,1.791992

In [9]:
first_opens = {}
for asset_id in asset_details.Asset_ID:
    first_open = df[df["Asset_ID"] == asset_id].Open.values[0]
    first_opens[asset_id] = first_open
    
first_opens

{2: 2376.0,
 0: 8.53,
 1: 13830.0,
 5: 7.66,
 7: 25.92,
 6: 738.5,
 9: 225.4,
 11: 329.0,
 13: 0.037,
 12: 0.41,
 3: 0.26,
 8: 2.266,
 10: 1182.0,
 4: 0.002775}

In [11]:
asset_id = 0
field = "Close"
df.loc[df["Asset_ID"] == asset_id,field]
df[df["Asset_ID"] == asset_id][field] / first_opens[asset_id]

0            1.000000
8            0.998047
16           0.994629
24           0.996094
32           0.990723
              ...
22221624    40.312500
22221638    40.250000
22221652    40.218750
22221666    40.250000
22221680    40.281250
Name: Close, Length: 1798698, dtype: float16

In [12]:
from tqdm.notebook import tqdm


for asset_id in tqdm(asset_details.Asset_ID):
    for field in ["Open", "High", "Low", "Close"]:
        df.loc[df["Asset_ID"] == asset_id,field] = df[df["Asset_ID"] == asset_id][field] / first_opens[asset_id]
        
df

  0%|          | 0/14 [00:00<?, ?it/s]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,datetime,test_fold,test_time_window,Weight
0,1514764860,0,5.0,1.000000,1.000000,1.000000,1.000000,7.838000e+01,8.530000,-0.014397,2018-01-01 00:01:00,3,-1,4.304688
1,1514764860,1,229.0,1.000000,1.013672,0.987793,1.000977,3.155006e+01,13827.062093,-0.014641,2018-01-01 00:01:00,2,-1,6.781250
2,1514764860,2,40.0,1.000000,1.009766,0.992188,0.999023,1.923301e+01,2373.116392,-0.004219,2018-01-01 00:01:00,4,-1,2.398438
3,1514764860,5,32.0,1.000000,1.000000,0.999512,0.999512,6.626713e+03,7.657713,-0.013924,2018-01-01 00:01:00,3,-1,1.386719
4,1514764860,6,173.0,1.000000,1.009766,0.991699,1.000000,3.359879e+02,738.839291,-0.004810,2018-01-01 00:01:00,2,-1,5.894531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22221689,1623542340,9,166.0,0.717285,0.718262,0.716797,0.717773,5.751936e+02,161.652476,0.001740,2021-06-12 23:59:00,2,0,2.398438
22221690,1623542340,10,31.0,2.482422,2.484375,2.480469,2.484375,2.188914e+00,2933.849059,-0.006084,2021-06-12 23:59:00,1,0,1.098633
22221691,1623542340,11,37.0,0.738281,0.738770,0.737305,0.738281,6.123996e+01,242.856640,-0.000040,2021-06-12 23:59:00,4,0,1.609375
22221692,1623542340,12,88.0,0.799316,0.800293,0.797852,0.799805,1.621725e+05,0.327464,-0.003344,2021-06-12 23:59:00,0,0,2.080078
22221693,1623542340,13,166.0,1.839844,1.839844,1.837891,1.839844,2.112721e+06,0.068029,-0.003338,2021-06-12 23:59:00,0,0,1.791992

In [13]:
df = df[["timestamp", "Count", "Open", "High", "Low", "Close", "Weight"]]
df

           timestamp  Count      Open      High       Low     Close    Weight
0         1514764860    5.0  1.000000  1.000000  1.000000  1.000000  4.304688
1         1514764860  229.0  1.000000  1.013672  0.987793  1.000977  6.781250
2         1514764860   40.0  1.000000  1.009766  0.992188  0.999023  2.398438
3         1514764860   32.0  1.000000  1.000000  0.999512  0.999512  1.386719
4         1514764860  173.0  1.000000  1.009766  0.991699  1.000000  5.894531
...              ...    ...       ...       ...       ...       ...       ...
22221689  1623542340  166.0  0.717285  0.718262  0.716797  0.717773  2.398438
22221690  1623542340   31.0  2.482422  2.484375  2.480469  2.484375  1.098633
22221691  1623542340   37.0  0.738281  0.738770  0.737305  0.738281  1.609375
22221692  1623542340   88.0  0.799316  0.800293  0.797852  0.799805  2.080078
22221693  1623542340  166.0  1.839844  1.839844  1.837891  1.839844  1.791992

[22221694 rows x 7 columns]

In [14]:
for field in ["Open", "High", "Low", "Close"]:
    df[field] = df[field] * df["Weight"]
    
df

/tmp/ipykernel_5966/4278004944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[field] = df[field] * df["Weight"]

           timestamp  Count      Open      High       Low     Close    Weight
0         1514764860    5.0  4.304688  4.304688  4.304688  4.304688  4.304688
1         1514764860  229.0  6.781250  6.875000  6.699219  6.789062  6.781250
2         1514764860   40.0  2.398438  2.421875  2.378906  2.396484  2.398438
3         1514764860   32.0  1.386719  1.386719  1.385742  1.385742  1.386719
4         1514764860  173.0  5.894531  5.953125  5.843750  5.894531  5.894531
...              ...    ...       ...       ...       ...       ...       ...
22221689  1623542340  166.0  1.720703  1.722656  1.718750  1.721680  2.398438
22221690  1623542340   31.0  2.726562  2.728516  2.724609  2.728516  1.098633
22221691  1623542340   37.0  1.188477  1.188477  1.186523  1.188477  1.609375
22221692  1623542340   88.0  1.663086  1.665039  1.659180  1.664062  2.080078
22221693  1623542340  166.0  3.296875  3.296875  3.292969  3.296875  1.791992

[22221694 rows x 7 columns]

In [15]:
df = df.drop("Weight", axis=1)

In [16]:
df = df.groupby("timestamp").agg({
    "Count": ["sum"],
    "Open": ["sum"],
    "High": ["sum"],
    "Low": ["sum"],
    "Close": ["sum"]
})

In [17]:
df.columns = ["Market_Count", "Market_Open", "Market_High", "Market_Low", "Market_Close"]

df = df.reset_index()

df

,timestamp,Market_Count,Market_Open,Market_High,Market_Low,Market_Close
0,1514764860,658.0,26.859375,27.062500,26.671875,26.859375
1,1514764920,711.0,26.843750,27.062500,26.671875,26.843750
2,1514764980,892.0,26.890625,27.140625,26.593750,26.859375
3,1514765040,868.0,26.843750,27.093750,26.531250,26.812500
4,1514765100,1153.0,26.812500,27.062500,26.484375,26.750000
...,...,...,...,...,...,...
1812779,1623542100,3829.0,651.500000,652.000000,651.000000,651.500000
1812780,1623542160,3864.0,651.500000,652.500000,651.000000,651.500000
1812781,1623542220,7121.0,651.000000,651.500000,649.500000,650.500000
1812782,1623542280,3738.0,650.500000,651.500000,650.000000,651.000000
1812783,1623542340,4952.0,651.000000,652.000000,650.500000,651.500000

In [18]:
df.to_csv("../data/processed/market.csv", index=False)